<<<<<<< HEAD
<<<<<<< HEAD
main{
    background-color: steelblue;
    font-weight: bold;
}

=======
main {
=======
main{
    background-color: steelblue;
    font-weight: bold;
>>>>>>> zinabranch
    font-size: 40px;
<<<<<<< HEAD
}
>>>>>>> zinabranch
=======
    color: pink;
<<<<<<< HEAD
}
>>>>>>> zinabranch
=======
    padding: 40px;
}
>>>>>>> zinabranch
